# Dependency directories
bower_components
node_modules/
jspm_packages/

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
dist/
bin/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Lock files
.lock-wscript
package-lock.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Coverage directory used by tools like istanbul
lib-cov
coverage
*.lcov

# TypeScript files
typings/
*.tsbuildinfo

# dotenv environment variables file
.env
.env.test

# CDK asset staging directory
.cdk.staging
cdk.out

# Unwanted metadata and cache files
.npm
.eslintcache
.cache
.cache/
.next
.nuxt
.nyc_output
.grunt
.DS_Store
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Java files
tomcat
target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

